In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('MW-NIFTY-100-26-Sep-2024.csv')
df

,SYMBOL \n,OPEN \n,HIGH \n,LOW \n,PREV. CLOSE \n,LTP \n,INDICATIVE CLOSE \n,CHNG \n,%CHNG \n,VOLUME \n(shares),VALUE \n (₹ Crores),52W H \n,52W L \n,30 D %CHNG \n,365 D % CHNG \n 26-Sep-2023
0,NIFTY 100,"27,068.30","27,153.00","27,056.85","27,051.65","27,141.50",-,89.85,0.33,"51,27,10,400","37,387.90","27,087.90","18,743.30",3.74,37.98
1,VEDL,484.55,504.90,477.00,479.85,502.50,-,22.65,4.72,"3,52,49,900","1,738.17",506.75,208.00,3.62,114.22
2,MARUTI,"12,835.00","13,411.00","12,830.00","12,785.30","13,350.00",-,564.70,4.42,"11,42,504","1,507.84","13,680.00","9,737.65",4.42,21.11
3,MOTHERSON,204.70,213.00,202.61,205.48,211.54,-,6.06,2.95,"3,57,73,408",747.49,213.00,86.80,3.80,110.86
4,TRENT,"7,724.90","7,939.90","7,710.55","7,614.90","7,830.00",-,215.10,2.82,"13,95,517","1,094.22","7,939.90","1,945.00",9.95,254.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,CIPLA,"1,643.20","1,652.45","1,602.30","1,643.20","1,611.10",-,-32.10,-1.95,"13,73,969",222.87,"1,683.00","1,132.00",3.09,41.21
97,ABB,"8,214.00","8,214.00","7,962.55","8,178.35","7,995.50",-,-182.85,-2.24,"1,62,437",131.09,"9,149.95","3,850.00",4.98,94.48
98,SIEMENS,"7,210.00","7,237.85","6,990.10","7,177.00","7,011.00",-,-166.00,-2.31,"1,97,841",140.74,"7,968.70","3,246.00",1.90,95.01
99,ZOMATO,285.40,285.90,278.50,285.40,278.65,-,-6.75,-2.37,"2,70,40,591",762.57,298.25,97.90,10.03,185.69
100,HAVELLS,"2,061.60","2,061.60","1,991.85","2,061.60","2,000.50",-,-61.10,-2.96,"8,60,216",173.75,"2,106.00","1,232.85",7.82,47.28

In [6]:
open_high = df[df['OPEN \n'] == df['LOW \n']]

In [7]:
open_high

,SYMBOL \n,OPEN \n,HIGH \n,LOW \n,PREV. CLOSE \n,LTP \n,INDICATIVE CLOSE \n,CHNG \n,%CHNG \n,VOLUME \n(shares),VALUE \n (₹ Crores),52W H \n,52W L \n,30 D %CHNG \n,365 D % CHNG \n 26-Sep-2023
19,NESTLEIND,"2,707.95","2,762.45","2,707.95","2,697.35","2,734.45",-,37.10,1.38,"7,03,717",192.30,"2,769.30","2,225.52",7.06,-88.28
59,ADANIENT,"3,085.00","3,148.00","3,085.00","3,105.10","3,108.65",-,3.55,0.11,"9,33,022",290.56,"3,743.90","2,142.00",1.18,26.33
61,TCS,"4,260.00","4,316.80","4,260.00","4,274.75","4,278.10",-,3.35,0.08,"28,52,115","1,222.88","4,592.25","3,311.00",-5.06,19.22

In [9]:
open_low = df[df['OPEN \n'] == df['HIGH \n']]
open_low

,SYMBOL \n,OPEN \n,HIGH \n,LOW \n,PREV. CLOSE \n,LTP \n,INDICATIVE CLOSE \n,CHNG \n,%CHNG \n,VOLUME \n(shares),VALUE \n (₹ Crores),52W H \n,52W L \n,30 D %CHNG \n,365 D % CHNG \n 26-Sep-2023
85,NTPC,437.95,437.95,430.55,436.10,430.95,-,-5.15,-1.18,"1,20,27,790",520.41,437.95,227.75,5.12,81.56
87,PFC,485.00,485.00,475.15,483.45,477.50,-,-5.95,-1.23,"59,00,300",282.31,580.00,225.50,-6.02,106.25
95,DMART,"5,313.45","5,313.45","5,164.00","5,265.50","5,168.05",-,-97.45,-1.85,"2,35,331",122.63,"5,484.85","3,616.00",6.17,44.91
97,ABB,"8,214.00","8,214.00","7,962.55","8,178.35","7,995.50",-,-182.85,-2.24,"1,62,437",131.09,"9,149.95","3,850.00",4.98,94.48
100,HAVELLS,"2,061.60","2,061.60","1,991.85","2,061.60","2,000.50",-,-61.10,-2.96,"8,60,216",173.75,"2,106.00","1,232.85",7.82,47.28